<%- include ('../../layout/adminlayout/header.ejs') %>



  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Content -->

<div class="authentication-wrapper authentication-cover">

    

  
  <div class="authentication-inner row m-0">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-6 align-items-center p-5">
      <div class="w-100 d-flex justify-content-center">
        <img src="/adminassets/img/illustrations/auth-cover-login-illustration-light.png" class="img-fluid auth-cover-login-illustration"
          alt="auth-login-cover" width="400" data-app-light-img="illustrations/auth-cover-login-illustration-light.png"
          data-app-dark-img="illustrations/auth-cover-login-illustration-dark.html">
     
      </div>
    </div>
    <!-- /Left Text -->
    
    <!-- Login -->
    <div class="d-flex col-12 col-lg-6 align-items-center auth-bg p-lg-5 p-4">
      <div class="w-px-400 mx-auto">
        
        <!-- Logo -->
        <div class="app-brand mb-4">
          <a href="index.html" class="app-brand-link gap-2">
                    </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Welcome to woodnwonder 👋</h4>
        <p class="mb-4">Please sign-in to your account and start the adventure</p>

        <div class="login-container">
          <div class="login-card">
           
            
            <% if ( message) { %>
              <div class="alert alert-danger text-center">
                  <%= message %>
              </div>
          <% } %>
            
            <form id="adminLoginForm" method="post" action="/admin/login">
              <div class="form-group mb-4">
                <label for="adminEmail" class="form-label">Email address</label>
                <div class="input-group">
                 
                  <input
                    type="email"
                    class="form-control"
                    id="adminEmail"
                    name="email"
                    placeholder="Enter your email"
                    value="admin@gmail.com"
                    required
                  />
                </div>
                <div id="emailError" class="error-message mt-1"></div>
              </div>
              
              <div class="form-group mb-4">
                <label for="adminPassword" class="form-label">Password</label>
                <div class="input-group">
                  
                  
                  <input
                    type="password"
                    class="form-control"
                    id="adminPassword"
                    name="password"
                    placeholder="Enter your password"
                    value="admin@123"
                    required
                  />
                  <span class="input-group-text cursor-pointer toggle-password">
                    <i class="ri-eye-off-line"></i>
                  </span>
                </div>
                <div id="passwordError" class="error-message mt-1"></div>
              </div>
              
            
              
              <button type="submit" class="btn btn-primary btn-block w-100 mb-3">Log In</button>
              
              
            </form>
          </div>
        </div>


        

       


        
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>



<script>

  if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.pathname);
  }
</script>

<!-- Core JS -->
<!-- build:js adminassets/vendor/js/core.js -->

<%- include ('../../layout/adminlayout/footer.ejs') %>
<!-- beautify ignore:end -->
