<%- include ('../../layout/adminlayout/header.ejs') %>


  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">







      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


        <div class="app-brand demo ">
          <a href="index.html" class="app-brand-link">
            <a href="index.html" class="app-brand-link gap-2">
            
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="menu-toggle-icon d-xl-block align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>



        <ul class="menu-inner py-1">
          <!-- Dashboards -->
          <li class="menu-item">



            </a>
            <ul class="menu-sub">

              </a>
          </li>

          </a>
          </li>

          </a>
          </li>
          <li class="menu-item">

            </a>
          </li>
          <li class="menu-item">

            </a>
          </li>
        </ul>
        </li>


        <li class="menu-item">

          </a>


        </li>

        <!-- Front Pages -->
        <li class="menu-item">


          </a>

        </li>



        <li class="menu-item">



          </a>
        </li>
        <!-- e-commerce-app menu start -->
        <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
            <div data-i18n="woodnwonder">woodnwonder</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="/admin/dashboard" class="menu-link">
                <div data-i18n="Dashboard">Dashboard</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Products">Products</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/product" class="menu-link">
                    <div data-i18n="Product List">Product List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/addProduct" class="menu-link">
                    <div data-i18n="Add Product">Add Product</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Category">Category</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/category" class="menu-link">
                    <div data-i18n="List all category">List all category</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Order">Order</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/orders" class="menu-link">
                    <div data-i18n="Order List">Order List</div>
                  </a>
                </li>

              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Customer">Customer</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/customers" class="menu-link">
                    <div data-i18n="All Customers">All Customers</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item ">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Offers">Offers</div>
              </a>
              <ul class="menu-sub">

                <li class="menu-item ">
                  <a href="/admin/offers" class="menu-link">
                    <div data-i18n="Product Offers">Product Offers</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/offers/category" class="menu-link">
                    <div data-i18n="Category Offers">Category Offers</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item ">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Coupons Management">Coupons Management</div>
              </a>
              <ul class="menu-sub">

                <li class="menu-item ">
                  <a href="/admin/coupons" class="menu-link">
                    <div data-i18n="Coupen">Coupen</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Sales Report">Sales Report</div>
              </a>
              <ul class="menu-sub">

                <li class="menu-item">
                  <a href="/admin/salesreport" class="menu-link">
                    <div data-i18n="Report">Report</div>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </li>
        </ul>




        </a>
        <ul class="menu-sub">

          </a>








































        </ul>



      </aside>
      <!-- / Menu -->



      <!-- Layout container -->
      <div class="layout-page">





        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">












          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">


            <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item navbar-search-wrapper mb-0">
                <a class="nav-item nav-link search-toggler fw-normal px-0" href="javascript:void(0);">
                  <i class="ri-search-line ri-22px scaleX-n1-rtl me-1_5"></i>
                  <span class="d-none d-md-inline-block text-muted ms-1_5">Search</span>
                </a>
              </div>
            </div>
            <!-- /Search -->





            <ul class="navbar-nav flex-row align-items-center ms-auto">
















              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="/adminassets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                  <li>
                    <a class="dropdown-item" href="pages-account-settings-account.html">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2">
                          <div class="avatar avatar-online">
                            <img src="/adminassets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="mb-0 small">Jinsiya</h6>
                          <small class="text-muted">Admin</small>

                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-item" href="pages-profile-user.html">
                      <i class="ri-user-3-line ri-22px me-2"></i>
                      <span class="align-middle">My Profile</span>
                    </a>
                  </li>





                  <li>
                    <div class="d-grid px-4 pt-2 pb-1">
                      <a class="btn btn-danger d-flex" href="/admin/logout" target="_blank">
                        <small class="align-middle">Logout</small>
                        <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>




            </ul>
          </div>


          <!-- Search Small Screens -->
          <div class="navbar-search-wrapper search-input-wrapper  d-none">
            <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..."
              aria-label="Search...">
            <i class="ri-close-fill search-toggler cursor-pointer"></i>
          </div>



        </nav>

        <!-- / Navbar -->



        <!-- Content wrapper -->
        <div class="content-wrapper">

          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">


            <div class="row gy-6">
              <!-- Congratulations card -->
              <div class="col-xl-8 col-lg-7 align-self-end mt-md-7 mt-lg-4 pt-md-2 pt-lg-0">
                <div class="card">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="card-body">
                        <h4 class="card-title mb-9 text-truncate">Congratulations <span
                            class="fw-bold">Jinsiya!</span>🎉</h4>
                        <p class="mb-0">You have done 72% 😎 more sales today. Check your new raising badge in your
                          profile.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 position-relative text-center">
                      <img src="/adminassets/img/illustrations/illustration-john-2.png"
                        class="card-img-position bottom-0 w-auto end-0 scaleX-n1-rtl" alt="View Profile">
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Congratulations card -->
              <!-- Cards with icon profit and loss info -->
              <div class="col-xl-4 col-lg-5">
                <div class="row g-6">
                  <div class="col-sm-6">
                    <div class="card h-100">
                      <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="avatar">
                          <div class="avatar-initial bg-success rounded-circle shadow-xs">
                            <i class="ri-money-dollar-circle-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="dropdown">
                          <button class="btn text-muted p-0" type="button" id="revenueID" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="ri-more-2-line ri-24px"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="revenueID">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <h6 class="mb-1">Revenue</h6>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                          <h4 class="mb-0 me-2">$95.2k</h4>
                          <p class="text-success mb-0">+12%</p>
                        </div>
                        <small>Revenue Increase</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card h-100">
                      <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="avatar">
                          <div class="avatar-initial bg-info rounded-circle shadow-xs">
                            <i class="ri-bank-card-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="dropdown">
                          <button class="btn text-muted p-0" type="button" id="transactionsID" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="ri-more-2-line ri-24px"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionsID">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <h6 class="mb-1">Transactions</h6>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                          <h4 class="mb-0 me-2">1.2k</h4>
                          <p class="text-success mb-0">+38%</p>
                        </div>
                        <small>Daily Transactions</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Cards with icon profit and loss info -->
              <!-- Total Profit Chart & Last month balance -->
              <div class="col-xl-8">
                <div class="card h-100">
                  <div class="row h-100">
                    <div class="col-md-7 pe-md-0">
                      <div class="card-header">
                        <h5 class="mb-0">Total Profit</h5>
                      </div>
                      <div class="card-body">
                        <div id="totalProfitChart"></div>
                      </div>
                    </div>
                    <div class="col-md-5 border-start ps-md-0">
                      <hr class="d-block d-md-none my-0">
                      <div class="card-header">
                        <div class="d-flex justify-content-between">
                          <h5 class="mb-0">$482.85k</h5>
                          <div class="dropdown">
                            <button class="btn text-muted p-0" type="button" id="totalProfit" data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="ri-more-2-line ri-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalProfit">
                              <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                              <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                              <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                            </div>
                          </div>
                        </div>
                        <p class="card-subtitle mb-0">Last month balance $234.40k</p>
                      </div>
                      <div class="card-body pt-7">
                        <div class="d-flex align-items-center mb-4">
                          <div class="avatar">
                            <div class="avatar-initial bg-label-success rounded">
                              <i class="ri-pie-chart-2-line ri-24px"></i>
                            </div>
                          </div>
                          <div class="ms-3 d-flex flex-column">
                            <h6 class="mb-1">$48,568.20</h6>
                            <p class="mb-0">Total Profit</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                          <div class="avatar">
                            <div class="avatar-initial bg-label-primary rounded">
                              <i class="ri-wallet-line ri-24px"></i>
                            </div>
                          </div>
                          <div class="ms-3 d-flex flex-column">
                            <h6 class="mb-1">$38,453.25</h6>
                            <p class="mb-0">Total Income</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                          <div class="avatar">
                            <div class="avatar-initial bg-label-secondary rounded">
                              <i class="ri-bank-card-line ri-24px"></i>
                            </div>
                          </div>
                          <div class="ms-3 d-flex flex-column">
                            <h6 class="mb-1">$2,453.45</h6>
                            <p class="mb-0">Total Expense</p>
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-primary w-100" type="button">View Report</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Total Profit Chart & Last month balance -->
              <!-- three chart -->
              <div class="col-xl-4">
                <div class="row gy-6">
                  <!-- Total Sales -->
                  <div class="col-xl-12 col-md-6">
                    <div class="card h-100">
                      <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                        <div class="me-3">
                          <h5 class="mb-1">Total Sales</h5>
                          <p class="mb-3">Calculated in last 7 days</p>
                          <div class="d-flex align-items-center">
                            <h4 class="mb-0 me-1">$25,980</h4>
                            <p class="text-success mb-0"> <i class="ri-arrow-up-s-line ri-24px"></i>15.6%</p>
                          </div>
                        </div>
                        <div id="totalSalesDonutChart" class="mt-3 mt-md-0"></div>
                      </div>
                    </div>
                  </div>
                  <!-- Total Sales -->
                  <!-- Total Revenue chart -->
                  <div class="col-xl-6 col-md-3 col-sm-6">




                    <script>
                      document.addEventListener('DOMContentLoaded', function () {
                        var dropdownElementList = [].slice.call(document.querySelectorAll('[data-bs-toggle="dropdown"]'))
                        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
                          return new bootstrap.Dropdown(dropdownToggleEl)
                        })
                      });
                    </script>


                    <%- include ('../../layout/adminlayout/footer.ejs') %>